*~
*.o
*.rpm
*.spec
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lwsyslogger.service
Makefile
Makefile.in
missing
helpers/docbook
