*~
*.1
*.5
*.8
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.rpm
*.tar.gz
*.tar.xz
*.spec
.deps
aclocal.m4
autom4te.cache
build_debs.sh
changelog
control
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lwsyslogger.service
Makefile
Makefile.in
missing
moc_*
helpers/docbook
src/lwsyslogger
